:root {
  --accent-color: #2196f3;
  --accent-background-color: #188ce8;
  --main-second-color: #000000;
  --main-background-color: #ffffff;
  --titel-color: #212121;
  --titel-text-color: #757575;
  --hero-background-color: #2f303a;
  --btn-background-color: #f5f4fa;
  --main-font: "Roboto";
  --accent-font: "Raleway";
}

body {
  font-family: var(--main-font);
  color: var(--titel-text-color);
  background-color: var(--main-background-color);
  font-size: 14px;
  line-height: 1.4;
  letter-spacing: 0.03em;
}
h1,
h2,
h3,
h4 {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
.section {
  padding-bottom: 94px;
}
ul {
  margin: 0;
}
.main-nav {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}
.link {
  list-style: none;
}
.link .link-nav,
.link .link-contact,
.logo,
.link-card {
  text-decoration: none;
}

/* header */
.page-header {
  border: 1px solid #ececec;
}
.logo {
  font-family: var(--accent-font);
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-second-color);
  padding-top: 24px;
  padding-bottom: 25px;
}
.span {
  color: var(--accent-color);
}
/* nav */

.link .link-nav {
  color: var(--titel-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.link-nav:hover,
.link-nav:focus {
  color: var(--accent-color);
}
.link-nav.current {
  color: var(--accent-color);
}
.contact {
  display: flex;
  margin-left: auto;
  padding-left: 0;
}
.contact .link + .link {
  margin-left: 50px;
}
.contact .link-contact {
  display: block;
  padding-top: 33px;
  padding-bottom: 31px;
}

.site-nav {
  display: flex;
  margin-left: 93px;
  padding-left: 0;
}
.site-nav .link:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link-nav {
  display: block;
  padding-top: 33px;
  padding-bottom: 31px;
}
.link-contact {
  color: var(--titel-text-color);
  font-weight: 500;
  padding-bottom: 9px;
}
.link-contact:hover,
.link-contact:focus {
  color: var(--accent-color);
}

/* hero */
.section.hero {
  padding-top: 200px;
  padding-bottom: 200px;
}
.hero {
  background-color: var(--hero-background-color);
  text-align: center;
}

.page-hero {
  font-family: var(--main-font);
  font-weight: 900;
  font-size: 44px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--main-background-color);
  margin: 0 237px 30px;
}
.button {
  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--main-background-color);
  background-color: var(--accent-color);
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
}
.button:hover {
  background-color: var(--accent-background-color);
}
/* section особливості */
.section.features {
  padding-top: 94px;
}
.list {
  display: flex;
  padding-left: 0;
}
.list-features {
  margin-right: 30px;
}
.list-features:last-child {
  margin-right: 0;
}
/* section Чем мы занимаемся */
.our-work {
  display: flex;
  padding-left: 0;
}
.link-work {
  margin-right: 30px;
}
.link-work:last-child {
  margin-right: 0;
}
/* section-team */
.section-team {
  background-color: var(--btn-background-color);
  padding-top: 94px;
}
.our-team {
  display: flex;
  padding-left: 0;
}
.link-team {
  background-color: var(--main-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  margin-right: 30px;
}
.link-team:nth-child(n4) {
  margin-right: 0;
}
.link-team:last-child {
  margin-right: 0;
}
.title {
  font-size: 36px;
  line-height: 1.16;
  color: var(--titel-color);
  text-align: center;
  margin-bottom: 50px;
}
.subtitle {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--titel-color);
}
.subtitle-text {
  line-height: 1.71;
  margin-top: 10px;
  margin-bottom: 0;
}
.title-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  color: var(--titel-color);
  margin-top: 30px;
  margin-bottom: 10px;
}
.title-name-trade {
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
}
/* footer */
.footer {
  background-color: var(--hero-background-color);
}
.logo-footer {
  font-family: var(--accent-font);
  width: max-content;
  font-size: 26px;
  line-height: 1.19;
  color: var(--main-background-color);
  text-decoration: none;
  display: block;
  padding: 60px 0 20px;
}
.footer-list {
  padding-left: 0;
  padding-bottom: 60px;
  width: max-content;
}

.address {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: var(--main-background-color);
}
.link-footer {
  text-decoration: none;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
  padding-bottom: 9px;
}

/* page-2 */
.btn {
  background-color: var(--btn-background-color);
  border-radius: 4px;
  font-family: var(--main-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  border-style: none;
  cursor: pointer;
}
.btn.all {
  color: var(--main-background-color);
  background-color: var(--accent-color);
  cursor: pointer;
}
.btn:hover,
.btn:focus {
  color: var(--main-background-color);
  background-color: var(--accent-color);
}
.title-card {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--titel-color);
}
.title-card-name {
  font-size: 16px;
  line-height: 1.87;
  color: var(--titel-text-color);
}
